{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in students %}
    <!-- <li>{{ student.name }} {{ student.group }} <br> Преподаватель: {{ student.teacher.name }} {{ student.teacher.subject }}</li> -->
      <li>
          {{ student }} <br>{{ teachers_title }}: {{ student.teachers.count }}
          <ul>
          {% for teacher in student.teachers.all %}
              <li>{{ teacher }}</li>
          {% endfor %}
          </ul>
      </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
